.center {
    text-align: center;
}
.row {
    padding:10;
}
form {
    margin:10 auto;
}
.navbartitle, .hover-light:hover {
    color: white !important;
    background-color:#3e464d;
}
.padding-h-10 {
    padding:0 10
}
.bg-dark-warning {
    background-color: #ffc1075b
}