{% extends "layout.html" %}
{%block main%}
    <h3>
        Login
    </h3>
    <form method="POST" class="center width-50">
        <div class="row">
            <div class="col">
                <input autofocus type="text" name="username" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
{%endblock%}

{%block script%}
<script>
    // https://stackoverflow.com/questions/831030/how-to-get-get-request-parameters-in-javascript
    function get(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }

    $(document).ready(function () {
        let returnto = get('returnto');
        console.log(returnto);
    })

</script>
{%endblock%}