{% extends "layout.html" %}
{%block body%}
    <h2>
        Register
    </h2>
    <form method="POST">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <input autofocus type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="col-md-4">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{%endblock%}