{% extends "layout.html" %}
{%block main%}
    <h3>
        Submit a Review
    </h3>
    {%if msg%}
    <div class="alert alert-danger">{{msg}}</div>
    {%endif%}
    <div class="alert alert-danger" style="display:none" id="jsalert"></div>
    <form method="POST" class="center width-50">
        <input name="rating" type="number" id="rating-value" style="display:none" value="-1" min="1" max="5" required>
        <div class="row">
            <div class="col">
                <div id="rating">
                    <label for="rating" class="text-muted">Rating: </label>
                    <div id="stars">
                        {%for i in range(5)%}<!--
                        --><span id="{{i}}" class="fa fa-star"></span><!--
                        -->{%endfor%}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea name="text" class="form-control" placeholder="Opinion goes here... (Optional)" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" onclick="validateForm();">Submit</button>
            </div>
        </div>
    </form>
{%endblock%}
{%block script%}
<script>

    var currentRating = -1;
    var stars;

    function highlight(star){
        if (!star.className.includes("checked"))
        {
            star.className += " checked";
        }
    }

    function removeHighlight(star){
        star.className = star.className.replace(' checked', '');
    }

    function highlightTo(star){
        if (typeof(star) == "object"){
            i = star.id;
        }else if(typeof(star) == "string"){
            i = parseInt(star);
        }else{
            i = star;
        }
        l = stars.length-1;
        while(l > i){
            removeHighlight(stars[l--]);
        }
        while(i >= 0){
            highlight(stars[i--]);
        }
    }

    function changeRating(star){
        currentRating = parseInt(star.id);
        highlightTo(currentRating);
        document.getElementById("rating-value").value = currentRating;
    }

    $(document).ready(function () {

        stars = document.querySelectorAll(".fa-star")
        for (star of stars){
            star.onclick = function(star){
                changeRating(star.target);
            }
            star.onmouseover = function(star){
                highlightTo(star.target)
            }
        }
        document.querySelector("#stars").onmouseout = function(){
            highlightTo(currentRating);
        }
    })

    function validateForm(){
        let rating = document.getElementById("rating-value").value;
        let text = document.querySelector("[name='text']").value;
        let alert = document.querySelector("#jsalert");
        if (rating < 0 || rating > 4){
            alert.innerHTML = "Please choose a rating by pressing on the stars";
            alert.style.display = "block";
            return false;
        }else{
            alert.innerHTML = "";
            alert.style.display = "none";
            document.querySelector("button").disabled = true;
            return true;
        }
    }

</script>
{%endblock%}